{% macro accordion(currentsection) %}

<div class="accordion accordion-flush" id="docsAccordion">
    {#
   {% set getting_started_items = [
    { link: "{{ '/getting-started' | url }}", label: "How to get started" }, 
    { link: "{{ '/getting-started/developer-environment-setup' | url }}", label: "Developer environment setup" }, 
    { link: "{{ '/getting-started' | url }}", label: "Breadcrumbs" }, 
    { link: "{{ '/getting-started' | url }}", label: "Troubleshooting" }] 
    %}

    
 https://bryanlrobinson.com/blog/using-nunjucks-if-expressions-to-create-an-active-navigation-state-in-11ty/ 
    https://www.11ty.dev/docs/pagination/nav/#starter-example
    
    {% for item in getting_started_items %}
    
    
   
    {% if item.link == page.url  %}
    <p>yes</p>
        {% set item_class = "active" %}
    {% else %}
        {% set item_class = "" %}
    {% endif %}
    
    {{ item_class }}
    
    <li><a class="{{ item_class }}" href="{{ item.link }}">{{ item.label }}</a></li>
    
    
{% endfor %}
    
    {% if item.link == page.url  %}
    <p>{{ toString(page.url) }}yes</p>
        {% set item_class = "active" %}
    {% else %}
        {% set item_class = "" %}
    {% endif %}
    

    <a href="{{ page.url }}">test</a>
    <a href="{{ '/getting-started/' | url }}">test</a>
    
    
    #}
   
<ul>   

    

    
    
    
</ul>
    
    
    
    
    

  {% if currentsection == 1 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        id="headingOneButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne">
        Getting Started
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-link" class="{% if page.url == '/getting-started/' %}active{% endif %}" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-link" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        id="headingOneButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne">
        Getting Started
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-link" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-link" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 2 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        id="headingTwoButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo">
        Content
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkTwo" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkTwo" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        id="headingTwoButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo">
        Content
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkTwo" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkTwo" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 3 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        id="headingThreeButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="true"
        aria-controls="collapseThree">
        Media Creation
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkThree" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkThree" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        id="headingThreeButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree">
        Media Creation
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkThree" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkThree" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 4 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button
        id="headingFourButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="true"
        aria-controls="collapseFour">
        Styles
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
      <div class="accordion-body">
        <ul class="accordion-list">
          
          <li>
            <a href="#">Colour</a>
          </li>
          <li>
            <a href="#">Images</a>
          </li>
          <li>
            <a href="#">Typography</a>
          </li>
          <li>
            <a href="#">Branding</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button
        id="headingFourButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour">
        Styles
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
      <div class="accordion-body">
        <ul class="accordion-list">
          
          <li>
            <a href="#">Colour</a>
          </li>
          <li>
            <a href="#">Images</a>
          </li>
          <li>
            <a href="#">Typography</a>
          </li>
          <li>
            <a href="#">Branding</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 5 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button
        id="headingFiveButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="true"
        aria-controls="collapseFive">
        Patterns
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkFive" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkFive" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button
        id="headingFiveButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive">
        Patterns
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkFive" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkFive" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 6 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button
        id="headingSixButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSix"
        aria-expanded="true"
        aria-controls="collapseSix">
        Page templates
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkSix" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkSix" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button
        id="headingSixButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSix"
        aria-expanded="false"
        aria-controls="collapseSix">
        Page templates
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkSix" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkSix" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 7 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button
        id="headingSevenButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSeven"
        aria-expanded="true"
        aria-controls="collapseSeven">
        Components
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="components-link" href="{{ '/components' | url }}">Introduction</a>
          </li>
          <li>
            <a href="#">Accordion</a>
          </li>
          <li>
            <a href="#">Back Link</a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#">Button</a>
          </li>
          <li>
            <a href="#">Character count</a>
          </li>
          <li>
            <a href="#">Checkboxes</a>
          </li>
          <li>
            <a href="#">Cookie banner</a>
          </li>
          <li>
            <a href="#">Data input</a>
          </li>
          <li>
            <a href="#">Details</a>
          </li>
          <li>
            <a href="#">Error message</a>
          </li>
          <li>
            <a href="#">Error summary</a>
          </li>
          <li>
            <a href="#">Fieldset</a>
          </li>
          <li>
            <a href="#">File upload</a>
          </li>
          <li>
            <a href="#">Footer</a>
          </li>
          <li>
            <a id="general-card-link" href="{{ '/components/general-card' | url }}">#73 - General card</a>
          </li>
          <li>
            <a id="promo-card-link" href="{{ '/components/promo-card' | url }}">#154 - Promo card</a>
          </li>
          <li>
            <a id="image-card-link" href="{{ '/components/image-card' | url }}">#81 - Image card</a>
          </li>
          <li>
            <a id="timeline-link" href="{{ '/components/timeline' | url }}">#205 - Timeline</a>
          </li>
          <li>
            <a id="figure-link" href="{{ '/components/figure' | url }}">#300 - Figure</a>
          </li>
          <li>
            <a id="section-nav-link" href="{{ '/components/section-nav' | url }}">Section Navigation</a>
          </li>
          <li>
            <a id="object-promo-link" href="{{ '/components/object-promo' | url }}">Object promo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button
        id="headingSevenButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSeven"
        aria-expanded="false"
        aria-controls="collapseSeven">
        Components
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="components-link" href="{{ '/components' | url }}">Introduction</a>
          </li>
          <li>
            <a href="#">Accordion</a>
          </li>
          <li>
            <a href="#">Back Link</a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#">Button</a>
          </li>
          <li>
            <a href="#">Character count</a>
          </li>
          <li>
            <a href="#">Checkboxes</a>
          </li>
          <li>
            <a href="#">Cookie banner</a>
          </li>
          <li>
            <a href="#">Data input</a>
          </li>
          <li>
            <a href="#">Details</a>
          </li>
          <li>
            <a href="#">Error message</a>
          </li>
          <li>
            <a href="#">Error summary</a>
          </li>
          <li>
            <a href="#">Fieldset</a>
          </li>
          <li>
            <a href="#">File upload</a>
          </li>
          <li>
            <a href="#">Footer</a>
          </li>
          <li>
            <a id="general-card-link" href="{{ '/components/general-card' | url }}">#73 - General card</a>
          </li>
          <li>
            <a id="promo-card-link" href="{{ '/components/promo-card' | url }}">#154 - Promo card</a>
          </li>
          <li>
            <a id="image-card-link" href="{{ '/components/image-card' | url }}">#81 - Image card</a>
          </li>
          <li>
            <a id="timeline-link" href="{{ '/components/timeline' | url }}">#205 - Timeline</a>
          </li>
          <li>
            <a id="figure-link" href="{{ '/components/figure' | url }}">#300 - Figure</a>
          </li>
          <li>
            <a id="section-nav-link" href="{{ '/components/section-nav' | url }}">Section Navigation</a>
          </li>
          <li>
            <a id="object-promo-link" href="{{ '/components/object-promo' | url }}">Object promo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if currentsection == 8 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button
        id="headingEightButton"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEight"
        aria-expanded="true"
        aria-controls="collapseEight">
        Community
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse show" aria-labelledby="headingEight">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkEight" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkEight" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button
        id="headingEightButton"
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEight"
        aria-expanded="false"
        aria-controls="collapseEight">
        Community
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight">
      <div class="accordion-body">
        <ul class="accordion-list">
          <li>
            <a id="getting-started-linkEight" href="{{ '/getting-started' | url }}">How to get started</a>
          </li>
          <li>
            <a id="developer-environment-setup-linkEight" href="{{ '/getting-started/developer-environment-setup' | url }}">Developer environment setup</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Breadcrumbs</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endmacro %}
