{% macro accordion(title, itemlist, linklist, accordionid) %}

<div class="accordion accordion-flush">
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{accordionid}}">
      <button
        id="{{accordionid}}-button"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{accordionid}}-collapse"
        aria-expanded="true"
        aria-controls="{{accordionid}}-collapse">
        {{title}}
      </button>
    </h2>
    <div id="{{accordionid}}-collapse" class="accordion-collapse collapse show" aria-labelledby="{{accordionid}}">
      <div class="accordion-body">
        <ul class="accordion-list">
          {% set x = 0 %}
          {% for i in itemlist %}
          <li>
            <a id="getting-started-link" href="/NCC-Design-System/public/{{ linklist[x] }}">{{ i }}</a>
          </li>
          {% set x = x + 1 %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endmacro %}