{% macro breadcrumb(pageurl, pagetitle) %}

<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        
        {% if '/getting-started/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/getting-started/' | url }}">Getting started</a></li>

        {% elseif '/forms/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/forms/' | url }}">Forms</a></li>

        {% elseif '/media-creation/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/media-creation/' | url }}">Media Creation</a></li>

        {% elseif '/styles/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/styles/' | url }}">Styles</a></li>

        {% elseif '/patterns/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/patterns/' | url }}">Patterns</a></li>

        {% elseif '/layouts/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/layouts/' | url }}">Layouts</a></li>

        {% elseif '/components/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/components/' | url }}">Components</a></li>

        {% elseif '/community/' in pageurl %}
        <li class="breadcrumb-item"><a href="{{ '/community/' | url }}">Community</a></li>

        {% endif %}
        
        <li class="breadcrumb-item active">{{ pagetitle }}</li>
      </ol>
    </nav>
  </div>
</section>

{% endmacro %}