{% macro promocard(title, text, link, linktext, img, options) %}

<div class="promo-card {{options}}" data-component="154" style="background-image: url('/NCC-Design-System/public/img/{{img}}')">
  <div class="card-body">
    <h2 class="h4 card-title">{{title}}</h4>
      <p class="card-text">{{text}}</p>
      <a class="card-link stretched-link" href="{{link}}">{{linktext}}</a>
  </div>
</div>

{% endmacro %}
