{% extends "template.njk" %}

{% import "_pattern_macros/accordion.njk" as accordion %}

{% block main %}

{% block breadcrumb %}
{% endblock %}

<section class="section_light_theme">
  <div class="container">
    <div class="row">
      {% block componentdesc %}
      {% endblock %}

      <script>
        window.onload = function () {
          openAccordion();
        }

        function openAccordion() {
          /* let heading = document.getElementById("{{headingID}}");
          let collapse = document.getElementById("{{collapseID}}");
          
          heading.classList.remove("collapsed");
          heading.setAttribute("aria-expanded", "true");
          collapse.classList.add("show"); */

          let link = document.getElementById("{{linkID}}");
          link.classList.add("active");
        }
      </script>
    </div>
  </div>
</section>

{% endblock %}
