<!DOCTYPE html>
<html lang="en">
{% include "_static_components/head.njk" %}
<body>
  
  {% include "_static_components/header.njk" %}
  <main>
    {% block main %}{% endblock %}
  </main>
  {% include "_static_components/footer.njk" %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

  <script>hljs.highlightAll();</script>

</body>
</html>
