{% extends "documentation.njk" %}

{% set title = "Getting started" %}

{% block breadcrumb %}
<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        <li class="breadcrumb-item active">Getting started</li>
      </ol>
    </nav>
  </div>
</section>
{% endblock %}

{% set collapseID = "collapseOne" %}
{% set headingID = "headingOneButton" %}
{% set linkID = "getting-started-link" %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion('1') }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5">    
  <h1>How to get started</h1>
  <p class="lead">There are a few different ways you can use and/or contribute to this design system.</p>

  <h2>Learn how we do things</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam, fugit hic eos quam quo molestiae commodi ipsum, autem quis quisquam molestias excepturi corrupti ea? Nam itaque sequi molestias aut, accusantium velit quidem? Modi, quidem quia! A voluptate atque cumque quam tempora hic! Modi, deserunt excepturi alias numquam cupiditate minima.</p>

  <h2>Install the developer environment</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam, fugit hic eos quam quo molestiae commodi ipsum, autem quis quisquam molestias excepturi corrupti ea? Nam itaque sequi molestias aut, accusantium velit quidem? Modi, quidem quia! A voluptate atque cumque quam tempora hic! Modi, deserunt excepturi alias numquam cupiditate minima.</p>

  <h2>Make a suggestion</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam, fugit hic eos quam quo molestiae commodi ipsum, autem quis quisquam molestias excepturi corrupti ea? Nam itaque sequi molestias aut, accusantium velit quidem? Modi, quidem quia! A voluptate atque cumque quam tempora hic! Modi, deserunt excepturi alias numquam cupiditate minima.</p>
</div>

{% endblock %}
