@import "bootstrap";

$focus-colour: #ffdd00;
$focus-text-colour: #0b0c0c;

$body-colour: #111;
$body-text-colour: $light;
// light theme
$body-colour-light: $light;
$body-text-colour-light: $dark;

@mixin ani {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transition: none;
  }
}


@import
  "components/testcard",
  "components/general_card",
  "components/header",
  "components/footer",
  "code_highlights"
;

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

p {
  font-size: 1.125rem;
  color: $dark;
}
.lead {
  font-weight: 600;
  font-size: 1.375rem;
}

pre {
  font-size: 1.125rem;
  border-radius: 6px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h2 code {
  font-size: 1.5rem;
}


#componentsListAccordion {
  display: none;
  @include media-breakpoint-down(md) { display: block; }
}
#componentsListSidebar {
  display: block;
  @include media-breakpoint-down(md) { display: none; }
}

.navbar-nav {
  .nav-item {
    @include media-breakpoint-down(lg) { text-align: center; }
  }  
}
