@import "_bootstrap/bootstrap";

@import
  "_components/testcard",
  "_components/footer"
;

html {
  background-color: $light;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

p {
  font-size: 1.125rem;
  color: $dark;
}
.lead {
  font-weight: 600;
  font-size: 1.375rem;
}
