@import "bootstrap/bootstrap";

$focus-colour: #ffdd00;
$focus-text-colour: #0b0c0c;

$link-colour: #4840f3;
$link-colour-hover: darken(#4840f3, 10%);

$body-colour: #111;
$body-text-colour: $light;
// light theme
$body-colour-light: white;
$body-text-colour-light: $dark;

$object-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
$object-shadow-hover: 0px 10px 18px rgba(0, 0, 0, 0.5);

@mixin ani {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transition: none;
  }
}


@import
  "components/general_card",
  "components/navigation_card",
  "components/header",
  "components/footer",
  "components/section_full_width",
  "components/breadcrumbs",
  "components/accordion",
  "code_highlights"
;

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  background-color: $body-colour-light;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  color: $dark;
}
.lead {
  font-weight: 600;
  font-size: 1.375rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 600;
  color: $link-colour;
  &:hover {
    text-decoration: underline;
    color: $link-colour-hover;
  }
  &:focus {
    color: $focus-text-colour;
    background-color: $focus-colour;
    text-decoration: underline;
    outline: none;
  }
}

pre {
  font-size: 1.125rem;
  border-radius: 6px;
  box-shadow: $object-shadow;
}

p code {
  font-size: 1.125rem;
}


#componentsListAccordion {
  display: none;
  @include media-breakpoint-down(md) { display: block; }
}
#componentsListSidebar {
  display: block;
  @include media-breakpoint-down(md) { display: none; }
}

.navbar-nav {
  .nav-item {
    @include media-breakpoint-down(lg) { text-align: center; }
  }  
}

.features-list {
  li {
    font-size: 1.125rem;
    font-weight: 600;
  }
}
