{% extends "documentation.njk" %}

{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}
{% import "_pattern_macros/breadcrumb.njk" as breadcrumbmacro %}
{% import "_pattern_macros/general_card.njk" as generalcard %}
{% import "_pattern_macros/image_card.njk" as imagecard %}

{% block breadcrumb %}
  {{ breadcrumbmacro.breadcrumb(page.url, title) }}
{% endblock %}

{% set collapseID = "collapseSeven" %}
{% set headingID = "headingSevenButton" %}
{% set linkID = "image-card-link" %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion(page.url) }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Image card - #81</h1>
  <p class="lead">A <strong>card</strong> is a flexible and extensible content container. It can be used in a variety of contexts and can be as streamlined or detailed as desired.</p>
  <h2>Examples</h2>
  <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>

  <div class="row {{rowDefaults}} gy-4">
    <div class="col-12">
        {{ imagecard.imagecard('Card Title', '#', 'lb_16x9.jpg', '') }}
    </div>
    <div class="col-12 col-md-6">
      {{ imagecard.imagecard('Card Title', '#', 'lb_16x9.jpg', '') }}
    </div>
    <div class="col-12 col-md-6">
      {{ imagecard.imagecard('Card Title', '#', 'lb_16x9.jpg', '') }}
    </div>
  </div>

  <h2>Features</h2>
  <div class="row {{rowDefaults}}">
    <div class="col-12 col-md-6">
      {{ imagecard.imagecard('Card Title', '#', 'lb_16x9.jpg', '') }}
    </div>
    <div class="col-12 col-md-6">
      <ul class="features-list">
        <li>All visible card features are optional</li>
        <li>The image is automatically scaled to 16x9 (not stretched or distorted)</li>
        <li>If the title is not present, the card will not be clickable</li>
        <li>Corners can be squared off or rounded. The card is square by default.</li>
        <li>The card is dark by default.</li>
      </ul>
    </div>
  </div>

  <div class="row rowDefaults">
    <div class="tabsection" id="imagecard-tabsection">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link tabbutton active" id="imagecard-tabbutton-1" onclick="makeActiveTab('imagecard-tabbutton-1')">HTML</button>
        </li>
        <li class="nav-item">
          <button class="nav-link tabbutton" id="imagecard-tabbutton-2" onclick="makeActiveTab('imagecard-tabbutton-2')">Nunjucks</button>
        </li>
      </ul>
      <div class="tabitem active" id="imagecard-tabitem-1">
        <button id="imagecard-copybuton-1" type="button" class="btn btn-outline-success tabcopybtn" onclick="copyText('imagecard-copybuton-1')" value='<div class="image-card" data-component="81">
  <div class="img-wrapper">
    <img src="/NCC-Design-System/public/img/lb_16x9.jpg" alt="Image for Card Title"/>
  </div>
  <div class="card-img-overlay">
    <a class="stretched-link card-title" href="#">Card Title</a>
  </div>
</div>'>Copy HTML</button>
    <pre><code id="imagecard-tabcontents-1" class="language-html">{% filter string %}<div class="image-card" data-component="81">
  <div class="img-wrapper">
    <img src="/NCC-Design-System/public/img/lb_16x9.jpg" alt="Image for Card Title"/>
  </div>
  <div class="card-img-overlay">
    <a class="stretched-link card-title" href="#">Card Title</a>
  </div>
</div>{% endfilter  %}
</code></pre>
      </div>
      <div class="tabitem" id="imagecard-tabitem-2">
        <button id="imagecard-copybuton-2" type="button" class="btn btn-outline-success tabcopybtn" onclick="copyText('imagecard-copybuton-2')" value="{% raw %} {{ imagecard.imagecard('Card Title', '#', 'lb_16x9.jpg', '') }}{% endraw  %}">Copy Nunjucks</button>
    <pre><code id="imagecard-tabcontents-2" class="language-js">{% raw %} {{ imagecard.imagecard('Card Title', '#', 'lb_16x9.jpg', '') }}{% endraw  %}
</code></pre>
      </div>
    </div>
  </div>

  {{ content | safe }}

  <hr class="nccds-hr">

  <h3>Need help?</h3>
  <p>To help make sure that this page is useful, relevant and up to date, you can:</p>
  <ul>
    <li><a href="{{ page.url | url }}">take part in the '{{title}}' discussion on GitHub and share your research</a></li>
    <li><a href="{{ page.url | url }}">propose a change</a> - read more about how to propose changes in GitHub</li>
  </ul>
  <a href="{{ page.url | url }}" class="btn btn-outline-dark github-link">Discuss on GitHub</a>

</div>


<script>
  function makeActiveTab(buttonID) {
    // first clear all active indicators
    const allTabItems = document.getElementsByClassName('tabitem');
    const allTabButtons = document.getElementsByClassName('tabbutton');
    Array.prototype.forEach.call(allTabItems, function(e) {
      e.classList.remove("active");
    });
    Array.prototype.forEach.call(allTabButtons, function(e) {
      e.classList.remove("active");
    });

    // add active indicators to relevant items
    const idString = buttonID.split("-");
    let button = document.getElementById(buttonID);
    let newTabItem = document.getElementById(`${idString[0]}-tabitem-${idString[2]}`);
    button.classList.add("active");
    newTabItem.classList.add("active"); // show new tab
  }

  function copyText(buttonID) {
    const idString = buttonID.split("-");
    let button = document.getElementById(buttonID);
    let tabContents = document.getElementById(`${idString[0]}-tabcontents-${idString[2]}`);

    /* Copy the text inside the text field */
    navigator.clipboard.writeText(button.value);

    /* currently using button value. there should be a way to only have to enter code once,
    without worrying about "code style" formatting. */ 

    button.innerHTML = "Copied!";
    setInterval(function () {button.innerHTML = "Copy"}, 3000);
  }

</script>

{% endblock %}
