{% extends "documentation.njk" %}

{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}
{% import "_pattern_macros/breadcrumb.njk" as breadcrumbmacro %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% block breadcrumb %}
  {{ breadcrumbmacro.breadcrumb(page.url, title) }}
{% endblock %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion(page.url) }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Basic peeky swiper - #24</h1>
  <p class="lead">Default swiper.</p>
  <h2 class="h3">When to use</h2>
  <p>In brochure-ware pages to allow multiple 'steps' for the user to select from to move forward.</p>
  <h2 class="h3">Where it appears</h2>
  <p>Main page content, placed inside column 12.</p>
  <h2 class="h3">How to set up</h2>
  <p>Set up in content editor in the Shared Folder under Peekyswiper and setup each tile with an image, title and link.</p>
  <h3 class="h5">Usage</h3>
  <p>Typically on brochure-ware pages, the peeky swiper is designed to allow the user to browse several next steps and options but to take up as little vertical space as possible accross all devices and resolutions.</p>
  <div class="alert alert-warning" role="alert">
    <strong>Be aware:</strong> test the use of this component as some demographics will struggle to understand it.
  </div>

  {{ content | safe }}

  <div class="row {{rowDefaults}}">
    <div id="components-help-section" class="col-12">
      <h2>Need help?</h2>
      <ul>
        <li>Take part in the 'Breadcrumbs' discussion on GitHub and share your research</li>
        <li>Propose a change - read more about how to propose changes in GitHub</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
