{% extends "documentation.njk" %}

{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}
{% import "_pattern_macros/breadcrumb.njk" as breadcrumbmacro %}
{% import "_pattern_macros/general_card.njk" as generalcard %}
{% import "_pattern_macros/image_card.njk" as imagecard %}

{% block breadcrumb %}
  {{ breadcrumbmacro.breadcrumb(page.url, title) }}
{% endblock %}

{% set collapseID = "collapseSeven" %}
{% set headingID = "headingSevenButton" %}
{% set linkID = "swiper-v2-link" %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion(page.url) }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Swiper v2 (CSS only)</h1>
  
  <div class="row {{rowDefaults}} gy-4">
    <div class="swiper-v2">
      <div class="swiper-wrapper">
        <div class="card-wrapper">
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 1">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 1</a></h2>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 2">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 2</a></h2>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 3">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 3</a></h2>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 4">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 4</a></h2>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 5">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 5</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row {{rowDefaults}} gy-4">
    <div class="swiper-v2 netflix-style">
      <div class="swiper-wrapper">
        <div class="card-wrapper">
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 1">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 1</a></h2>
              <p class="card-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 2">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 2</a></h2>
              <p class="card-details">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 3">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 3</a></h2>
              <p class="card-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 4">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 4</a></h2>
              <p class="card-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="card">
            <div class="img-wrapper ratio ratio-16x9">
              <img src="/NCC-Design-System/public/img/lb_16x9.jpg" class="card-img-top" alt="image for Card 5">
            </div>
            <div class="card-body">
              <h2 class="card-title h4"><a class="stretched-link" href="/NCC-Design-System/public/swiper-v2/">Card 5</a></h2>
              <p class="card-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ content | safe }}

  <hr class="nccds-hr">

  <h3>Need help?</h3>
  <p>To help make sure that this page is useful, relevant and up to date, you can:</p>
  <ul>
    <li><a href="{{ page.url | url }}">take part in the '{{title}}' discussion on GitHub and share your research</a></li>
    <li><a href="{{ page.url | url }}">propose a change</a> - read more about how to propose changes in GitHub</li>
  </ul>
  <a href="{{ page.url | url }}" class="btn btn-outline-dark github-link">Discuss on GitHub</a>

</div>


<script>
  function makeActiveTab(buttonID) {
    // first clear all active indicators
    const allTabItems = document.getElementsByClassName('tabitem');
    const allTabButtons = document.getElementsByClassName('tabbutton');
    Array.prototype.forEach.call(allTabItems, function(e) {
      e.classList.remove("active");
    });
    Array.prototype.forEach.call(allTabButtons, function(e) {
      e.classList.remove("active");
    });

    // add active indicators to relevant items
    const idString = buttonID.split("-");
    let button = document.getElementById(buttonID);
    let newTabItem = document.getElementById(`${idString[0]}-tabitem-${idString[2]}`);
    button.classList.add("active");
    newTabItem.classList.add("active"); // show new tab
  }

  function copyText(buttonID) {
    const idString = buttonID.split("-");
    let button = document.getElementById(buttonID);
    let tabContents = document.getElementById(`${idString[0]}-tabcontents-${idString[2]}`);

    /* Copy the text inside the text field */
    navigator.clipboard.writeText(button.value);

    /* currently using button value. there should be a way to only have to enter code once,
    without worrying about "code style" formatting. */ 

    button.innerHTML = "Copied!";
    setInterval(function () {button.innerHTML = "Copy"}, 3000);
  }
</script>

{% endblock %}
