{% extends "documentation.njk" %}{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}
{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}

{% import "_pattern_macros/general_card.njk" as generalcard %}
{% import "_pattern_macros/accordion.njk" as accordion %}

{% set title = "Accordion" %}

{% block breadcrumb %}
<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/components/' | url }}">Components</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
      </ol>
    </nav>
  </div>
</section>
{% endblock %}

{% set collapseID = "collapseSeven" %}
{% set headingID = "headingSevenButton" %}
{% set linkID = "accordion-link" %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion(page.url) }}
</div>

{% set exampleAccordionItems = ['Item 1 (link to alert)', 'Item 2 (link to general cards)', 'Item 3 (link to timeline)'] %}
{% set exampleLinks = ['components/alert', 'components/general-card', 'components/timeline'] %}

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Accordion - #10</h1>
  <p class="lead">A title and content which opens and closes with user interaction</p>
  <div class="row">
    <div class="col">
      {{ accordion.accordion("Example Accordion", exampleAccordionItems, exampleLinks, "exampleAccordion1") }}
    </div>
  </div>
  <h2 class="h3">When to use</h2>
  <p>When there is lots of information that can be broken up into subheadings.</p>
  <h2 class="h3">Where it appears</h2>
  <p>Main page content - should be placed inside Column 8</p>
  <h2 class="h3">How to set up</h2>
  <p>Set up in content editor in the Shared Folder under Accordions and find the relevan area of the site i.e Children and families / Adoption. Each accordion item must be set up separately.</p>
  <p>Good for:</p>
  <ul>
    <li>When the content is conditional to user requirements</li>
  </ul>

  
    
    <div class="row {{rowDefaults}}">
        <div class="col-12">
            <h2>When to use this component</h2>
            <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
        </div>
        
        
        <div class="col-12">
            <h2>When not to use this component</h2>
            <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
        </div>
        
        
         <div id="components-help-section" class="col-12">
            <h2>Need help?</h2>
            <ul>
                <li>Take part in the 'Breadcrumbs' discussion on GitHub and share your research</li>
                <li>Propose a change - read more about how to propose changes in GitHub</li>
              </ul>
        </div>
        
        
    </div>
    
    
</div>



{% endblock %}
