{% extends "documentation.njk" %}

{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Chapter" %}

{% block breadcrumb %}
<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/components/' | url }}">Components</a></li>
        <li class="breadcrumb-item active">Chapter</li>
      </ol>
    </nav>
  </div>
</section>
{% endblock %}

{% set collapseID = "collapseSeven" %}
{% set headingID = "headingSevenButton" %}
{% set linkID = "chapter-link" %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion('7') }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Chapter - #42</h1>

  <div class="row {{rowDefaults}}">
    <div id="components-help-section" class="col-12">
      <h2>Need help?</h2>
      <ul>
        <li>Take part in the 'Breadcrumbs' discussion on GitHub and share your research</li>
        <li>Propose a change - read more about how to propose changes in GitHub</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
