{% extends "template.njk" %}

{% import "_pattern_macros/testcard.njk" as testcard %}

{% block title %}Components{% endblock %}

{% block main %}

<div class="container">
  <h1>Components</h1>
  <p class="lead">Documentation for all of the components used in NCC sites including examples, options, and use cases.</p>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="components-list-section col-md-4 col-12">

      <div class="accordion mb-4" id="componentsListAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
              Components
            </button>
          </h2>
          <div id="collapse" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#componentsListAccordion">
            <div class="accordion-body">
              <div class="list-group">
                <a href="/components/" class="list-group-item list-group-item-action active" aria-current="true">
                  Introduction
                </a>
                <a href="/components/general-card/" class="list-group-item list-group-item-action">General card</a>
                <a href="#" class="list-group-item list-group-item-action">Promo card</a>
                <a href="#" class="list-group-item list-group-item-action">Section nav component</a>
                <a href="#" class="list-group-item list-group-item-action">Timeline component</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="list-group" id="componentsListSidebar">
        <a href="/components/" class="list-group-item list-group-item-action active" aria-current="true">
          Introduction
        </a>
        <a href="/components/general-card/" class="list-group-item list-group-item-action">General card</a>
        <a href="#" class="list-group-item list-group-item-action">Promo card</a>
        <a href="#" class="list-group-item list-group-item-action">Section nav component</a>
        <a href="#" class="list-group-item list-group-item-action">Timeline component</a>

      </div>

    </div>
    <div class="components-main-section col-8">
      <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est obcaecati rem consequatur itaque nemo iusto ipsa amet nostrum nulla expedita! Possimus commodi modi dicta quaerat suscipit porro vero ab perspiciatis inventore fuga, illum ut mollitia quae sed dignissimos explicabo facilis. A dicta eaque vero quo dolor reprehenderit ex atque magni dignissimos sit libero quibusdam laudantium, sint, maiores nam incidunt assumenda unde ducimus nulla accusantium saepe numquam. Odit dolore saepe vero sit, esse accusantium itaque eum illo doloribus sunt consequuntur corrupti quibusdam, est, debitis voluptate. Officia placeat cupiditate quam perspiciatis est ex facere fugit odio, tempore ipsa deserunt, voluptate maxime totam.</p>
    </div>
  </div>
  
</div>

{% endblock %}
