{% extends "template.njk" %}

{% set title = "Introduction To Components" %}

{% block main %}

<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        <li class="breadcrumb-item active">Components</li>
      </ol>
    </nav>
  </div>
</section>

<section class="section_light_theme">
  <div class="container">
    <h1>Components</h1>
    <p class="lead">Documentation for all of the components used in NCC sites including examples, options, and use cases.</p>
    <hr>
  </div>
</section>

<section class="section_light_theme">
  <div class="container">
    <div class="row">
      <div class="components-list-section col-md-4 col-12">

        {# <div class="accordion mb-4" id="componentsListAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                Components
              </button>
            </h2>
            <div id="collapse" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#componentsListAccordion">
              <div class="accordion-body">
                <div class="list-group">
                  <a href="{{ '/components/' | url }}" class="list-group-item list-group-item-action active" aria-current="true">
                    Introduction
                  </a>
                  <a href="{{ '/components/general-card/' | url }}" class="list-group-item list-group-item-action">General card</a>
                  <a href="#" class="list-group-item list-group-item-action">Promo card</a>
                  <a href="#" class="list-group-item list-group-item-action">Section nav component</a>
                  <a href="#" class="list-group-item list-group-item-action">Timeline component</a>
                </div>
              </div>
            </div>
          </div>
        </div> #}

        {# <div class="list-group" id="componentsListSidebar">
          <a href="{{ '/components/' | url }}" class="list-group-item list-group-item-action active" aria-current="true">
            Introduction
          </a>
          <a href="{{ '/components/general-card/' | url }}" class="list-group-item list-group-item-action">General card</a>
          <a href="#" class="list-group-item list-group-item-action">Promo card</a>
          <a href="#" class="list-group-item list-group-item-action">Section nav component</a>
          <a href="#" class="list-group-item list-group-item-action">Timeline component</a>

        </div> #}

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Getting Started
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Content
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Media Creation
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Styles
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                Patterns
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                Page templates
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                Components
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                Community
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
        </div>

      </div>
      <div class="components-main-section col-8">
        <h2>Introduction</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est obcaecati rem consequatur itaque nemo iusto ipsa amet nostrum nulla expedita! Possimus commodi modi dicta quaerat suscipit porro vero ab perspiciatis inventore fuga, illum ut mollitia quae sed dignissimos explicabo facilis. A dicta eaque vero quo dolor reprehenderit ex atque magni dignissimos sit libero quibusdam laudantium, sint, maiores nam incidunt assumenda unde ducimus nulla accusantium saepe numquam. Odit dolore saepe vero sit, esse accusantium itaque eum illo doloribus sunt consequuntur corrupti quibusdam, est, debitis voluptate. Officia placeat cupiditate quam perspiciatis est ex facere fugit odio, tempore ipsa deserunt, voluptate maxime totam.</p>
      </div>
    </div>
    
  </div>

</section>

{% endblock %}
