{% extends "documentation.njk" %}

{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "General Card" %}

{% block breadcrumb %}
<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/components/' | url }}">Components</a></li>
        <li class="breadcrumb-item active">General Card</li>
      </ol>
    </nav>
  </div>
</section>
{% endblock %}

{% set collapseID = "collapseSeven" %}
{% set headingID = "headingSevenButton" %}
{% set linkID = "general-card-link" %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ accordion.accordion('7') }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>General card - #73</h1>
  <p class="lead">A <strong>card</strong> is a flexible and extensible content container. It can be used in a variety of contexts and can be as streamlined or detailed as desired.</p>
  <h2>Examples</h2>
  <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
  <div class="row {{rowDefaults}} gy-4">
    <div class="col-12 col-md-6">
        {{ generalcard.generalcard('Card Title', 'James Paget Hospital • Gorleston', '29th July 2020 • 8.27pm', 'Course full', '5 sessions • course full', 'Card content / descriptive text goes here', 'lb_16x9.jpg', '#', 'card-rounded') }}
    </div>
    <div class="col-12 col-md-6">
      <div class="row mb-4">
        <div class="col-12">
          {{ generalcard.generalcard('', 'Norwich • Norfolk', '', '', '', 'Card content / descriptive text goes here', '', '#', 'card-light card-rounded') }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ generalcard.generalcard('Card Title', '', '', '', '', '', 'lb_16x9.jpg', '#', 'card-light') }}
        </div>
      </div>
    </div>
  </div>
  <h2>Features</h2>
  <div class="row {{rowDefaults}}">
    <div class="col-12 col-md-6">
      {{ generalcard.generalcard('Card Title', '"Location" text', '"Date" text', '"Flair" / badge', 'Extra text', 'Main card content', 'lb_16x9.jpg', '#', 'card-light') }}
    </div>
    <div class="col-12 col-md-6">
      <ul class="features-list">
        <li>All visible card features are optional</li>
        <li>The image is automatically scaled to 16x9 (not stretched or distorted)</li>
        <li>If the title is not present, the card will not be clickable</li>
        <li>Corners can be squared off or rounded. The card is square by default.</li>
        <li>The card is dark by default.</li>
      </ul>
    </div>
  </div>
    
    <div class="row {{rowDefaults}}">
        <div class="col-12">
            <h2>When to use this component</h2>
            <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
        </div>
        
        
        <div class="col-12">
            <h2>When not to use this component</h2>
            <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
        </div>
        
        
         <div id="components-help-section" class="col-12">
            <h2>Need help?</h2>
            <ul>
                <li>Take part in the 'Breadcrumbs' discussion on GitHub and share your research</li>
                <li>Propose a change - read more about how to propose changes in GitHub</li>
              </ul>
        </div>
        
        
    </div>
    
    
</div>



{% endblock %}
