{% extends "documentation.njk" %}

{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "General Card" %}

{% block breadcrumb %}
<section class="breadcrumbs">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/components/' | url }}">Components</a></li>
        <li class="breadcrumb-item active">General Card</li>
      </ol>
    </nav>
  </div>
</section>
{% endblock %}

{% set collapseID = "flush-collapseSeven" %}
{% set headingID = "flush-headingSevenButton" %}

{% block componentdesc %}

  <h1>General card - #73</h1>
  <p class="lead">This card can be used for a few things but most importantly as a placeholder component for testing pages.</p>
  <h2>Other info</h2>
  <p>Generic placeholder text about the general card Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, assumenda! whatever</p>
  <div class="row">
    <div class="col-12 col-lg-6">
        {{ generalcard.generalcard('Card Title', 'James Paget Hospital • Gorleston', '29th July 2020 • 8.27pm', 'Course full', '5 sessions • course full', 'Card content / descriptive text goes here', 'lb_16x9.jpg', '#', 'card-rounded') }}
    </div>
  </div>

{% endblock %}
