{% extends "documentation.njk" %}

{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}
{% import "_pattern_macros/breadcrumb.njk" as breadcrumbmacro %}
{% import "_pattern_macros/general_card.njk" as generalcard %}
{% import "_pattern_macros/object_promo.njk" as objectPromo %}

{% set title = "Object Promo" %}
{% block breadcrumb %}
  {{ breadcrumbmacro.breadcrumb(page.url, title) }}
{% endblock %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion(page.url) }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Object promo</h1>
  <p class="lead">A <strong>card</strong> is a flexible and extensible content container. It can be used in a variety of contexts and can be as streamlined or detailed as desired.</p>
  <h2>Examples</h2>
  <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
  <div class="row {{rowDefaults}} gy-4">
    {% set promocards = [
      {title:'Gallas Plough', img:'secnav1.png', link:'components/general-card'},
      {title:'Family Octopoda', img:'secnav2.png', link:'components/general-card'},
      {title:'Ostrich egg', img:'secnav3.png', link:'components/general-card'},
      {title:'Great Bustard', img:'secnav4.png', link:'components/general-card'}
    ] %}

    {{ objectPromo.promo("Other items in this collection", "More items", "components/general-card", promocards) }}

  </div>  
    
</div>



{% endblock %}
