/* Error: Undefined mixin.
 *   ,
 * 8 |     @include ani;
 *   |     ^^^^^^^^^^^^
 *   '
 *   src\sass\components\immersion_card.scss 8:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 8 \2502      @include ani;\d\a   \2502      ^^^^^^^^^^^^\a   \2575 \a   src\\sass\\components\\immersion_card.scss 8:5  root stylesheet";
}
