.breadcrumbs {
  background-color: $gray-200;
  padding: 8px 0px;
  margin-bottom: 15px;

  .breadcrumb {

    display: flex;
    align-items: baseline;

    .breadcrumb-item {
      position: relative;
      height: 27px;
      font-weight: 600 !important;
      font-size: 1.125rem !important;

      &:first-child {
        &:before {
          content: "";
          display: none;
          width: 0;
          height: 0;
        }
      }

      &:not(:first-child) {
        padding-left: 32px;
        color: $gray-800;
      }
      
      a {
        text-decoration: underline;
        color: $dark;

        &:hover {
          text-decoration-thickness: 2px;
        }
        &:focus {
          color: $focus-text-colour;
          background-color: $focus-colour;
          outline: none;
          border: none;
          text-decoration-thickness: 2px;
        }
      }
      &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 6px;
        bottom: 1px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' /%3E%3C/svg%3E");
        padding: 0 0 0 0;
      }
    }
    .breadcrumb-item.active {
      font-weight: 400 !important;
      font-size: 1.125rem !important;
    }
  }
}