.card-slider {
  background-color: transparent;
  border-radius: 15px;
  padding: 0px;
  position: relative;

  &:focus-within {
    .slider-btn {
      opacity: 1;
    }
  }

  &:hover {
    .slider-btn {
      opacity: 0.8;
    }
  }

  .slider-btn {
    @include ani;
    position: absolute;
    top: 30%;
    color: black;
    z-index: 100;
    opacity: 0;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    width: 32px;
    height: 32px;
    margin: 0px 10px;
    text-align: center;
    &:hover {
      background-color: $gray-100;
      opacity: 1;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    }
    &:focus {
      background-color: $focus-colour;
      opacity: 1;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    }
  }
  .slider-btn.prev-img-btn {
    transform: rotate(180deg);
  }

  .next-img-btn {
    right: 0px;
  }
  .prev-img-btn {
    display: none;
    left: 0px;
  }
  .card-body {
    padding: 0px 5px 5px 5px;
    .top-text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;
    }
    .card-title {
      margin: 0px;
      a {
        color: $dark;
        font-size: 1rem;
        margin: 0px;
        &:focus {
          color: $focus-text-colour;
          background-color: $focus-colour;
          font-weight: 700;
          border: none;
          outline: none;
          text-decoration: none;
        }
      }
    }
    .card-flair {
      display: flex;
      align-items: center;
      float: right;
      font-size: 1rem;
      margin: 0px;

      svg {
        margin-left: 5px;
      }
    }
    .card-text-1, .card-text-2 {
      color: $gray-600;
      font-size: 0.875rem;
      margin: 0px;
    }
    .card-text-3 {
      margin: 5px 0px 0px 0px;
      font-size: 0.875rem;
      text-decoration: underline
    }
  }
  box-shadow: none;
  .img-wrapper {
    border-radius: 15px;
    display: flex;
    .card-slider-image {
      display: block;
    }
    .card-slider-image.left {
      @include ani;
      transform: translateX(-100%);
    }
    .card-slider-image.right {
      @include ani;
      transform: translateX(100%);
    }
    .indicator-wrapper {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: calc(100% - 10px);
      .dot-indicator {
        margin: 0px 5px;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: $gray-500;
      }
      .dot-indicator.current {
        background-color: white;
      }
    }
  }
  &:hover {
    box-shadow: none;
    
    img { transform: none; }
    .card-title { text-decoration: none; }
  }
  &:focus-within {
    box-shadow: none;
    background-color: transparent;
    outline: none;
    img { transform: none; }
  }
}
