figure {
  img, iframe { margin-bottom: 0rem !important;}
  
  figcaption {
    text-align: center; 
    color: $dark;
    padding: 20px; 
    font-size: 1rem !important;
    font-weight: 600;
    border-bottom: 4px solid $gray-600 !important;
    background-color: $light;
  }
  box-shadow: $object-shadow;
}


figure.dark {
  figcaption {
    color: $light;
    background-color: $gray-800;
    border-bottom: 4px solid $gray-400 !important; 
  }
  box-shadow: $object-shadow;
}

