footer {
  flex-shrink: 0;
  background-color: $gray-200;

  a:focus {
    color: $focus-text-colour;
    background-color: $focus-colour;
    text-decoration: underline;
    outline: none;
  }

  p {
    color: $dark;
    margin: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  .cookie-link {
    color: $dark;
    text-decoration: underline;
    margin-right: 20px;

    &:focus {
      color: $focus-text-colour;
      background-color: $focus-colour;
      text-decoration: underline;
      outline: none;
    }
  }

  .bottom-text, .bottom-text * {
    font-size: 1rem;
    margin-top: 20px;
  }

  .logo-hr {
    display: none;
    @include media-breakpoint-down(lg) { display: block; }
  }

  .footer-logo {
    a:focus {
      outline: solid $focus-colour 2px;
      background-color: transparent;
    }
    img {
      max-width: 100%;
    }
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: center;
      a {
        max-width: 40%;
        object-fit: scale-down;
      }
    }
  }
}
