footer {
  flex-shrink: 0;
  background-color: $gray-200;
  padding: 30px;

  a:focus {
    color: $focus-text-colour;
    background-color: $focus-colour;
    text-decoration: underline;
    outline: none;
  }

  p {
    color: $dark;
    margin: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .cookie-link {
    color: $dark;
    text-decoration: underline;
    margin-right: 20px;

    &:focus {
      color: $focus-text-colour;
      background-color: $focus-colour;
      text-decoration: underline;
      outline: none;
    }
  }

  .bottom-text, .bottom-text * {
    font-size: 1rem;
    margin-top: 20px;
  }

  .footer-logo {
    a:focus {
      outline: solid $focus-colour 2px;
      background-color: transparent;
    }
    img {
      max-width: 100%;
    }
  }
}
