/*** start of cards.scss ***/

.card {
  box-shadow: $object-shadow;
  border: none;
  border-radius: 0px;
  overflow: hidden;  
  @include ani;
  background-color: $dark;
  
  .card-body { 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .img-wrapper {
    overflow: hidden;
    object-fit: contain;
  }
  .card-location {
    color: #d2982c;
    font-weight: 700;
    margin: 5px 0px;
  }
  .card-date {
    font-size: 1rem;
    color: $gray-500;
    margin: 5px 0px;
  }
  .card-extra-info {
    font-size: 1rem;
    color: $light;
    margin: 5px 0px;
  }
  .card-title {
    margin: 0px 0px 5px 0px;

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 1.375rem;
      color: $gray-100;
    }
  }
  // .card-title:lang(en) {
  //   hyphens: auto;
  //   -webkit-hyphens: auto;
  //   -moz-hyphens: auto;
  //   -ms-hyphens: auto;
  // }
  // .card-title a:lang(en) {
  //   hyphens: auto;
  //   -webkit-hyphens: auto;
  //   -moz-hyphens: auto;
  //   -ms-hyphens: auto;
  // }
  .flair {
    padding: 4px 10px;
    margin: 5px 0px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    color: $light;
  }
  .flair-full {
    background-color: #BE4600;
  }
  .flair-available {
    color: #BE4600;
  }
  .card-text {
    margin: 5px 0px 0px 0px;
    color: $gray-500;
    font-weight: 600;
  }
  img {
    border-radius: 0px;
    @include ani;
    object-fit: cover;
  }
  &:hover {
    box-shadow: $object-shadow-hover;
    
    img { transform: scale(1.1); }
    .card-title { text-decoration: underline; }
  }
  &:focus-within {
    background-color: $focus-colour;
    outline: solid 4px $focus-colour;
    transition: none;
    box-shadow: $object-shadow-hover;
    
    img { transform: scale(1.1); }
    
    .card-text { color: $focus-text-colour; }
    .card-location { color: $focus-text-colour; }
    .card-date { color: $focus-text-colour; }
    .card-extra-info { color: $focus-text-colour; }
    .flair { 
      color: white;
      background-color: $focus-text-colour;
    }
    
    .card-title a {
      color: $focus-text-colour;
      font-weight: 700;
      border: none;
      outline: none;
      text-decoration: underline;
    }
  }
}

.nohover {
  &:hover {
    box-shadow: $object-shadow;
    
    img { transform: none; }
    .card-title { text-decoration: none; }
  }
}

.card-rounded { border-radius: 10px; }

// General cards are not affected by 'prefers-color-scheme' - this class enables light cards
.card-light {
  background-color: white;
  
  .card-location { color: #be4600; }
  
  .card-date { color: $gray-600; }
  
  .card-extra-info { color: $gray-600; }
  
  .card-title a { color: $dark; }
  
  .card-text { color: $gray-700; }
}
