.tabsection {

  .tabbutton {
    &:focus {
      color: $focus-text-colour;
      background-color: $focus-colour;
      text-decoration: underline;
    }
  }

  .tabitem {
    padding: 12px;
    border: solid $gray-300 1px;
    border-top: 0;
    display: none;
    position: relative;

    pre {
      margin: 0;
      code {
        padding-top: 50px;
      }
    } 

    .tabcopybtn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  .tabitem.active {
    display: block;
  }
}