{% extends "template.njk" %}

{% import "_pattern_macros/testcard.njk" as testcard %}

{% block title %}Get Started{% endblock %}

{% block main %}

<div class="container">
  <h1>Get Started</h1>
  <p class="lead">This page will provide the details of setting up a developer environment on your system. Before you start, make sure you have the latest version of Node.js installed on your system.</p>
  <hr>
</div>


<div class="container">
  <h2 class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
  <p>Standard paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus vehicula ligula nec finibus. Donec a elit dolor. Quisque ultricies felis at ligula mollis, quis mattis lacus efficitur. In aliquet in arcu ac gravida. Nam leo velit, mattis in faucibus id, faucibus sed velit. Aenean ut augue quam. Vestibulum commodo lacinia nibh non sagittis. Proin consectetur, nibh et porta molestie, velit velit porttitor lacus, a mollis tortor elit eu tellus. Quisque tristique ultrices sem vel placerat. Maecenas lobortis, felis quis faucibus fermentum, magna neque egestas urna, eget vestibulum lectus ipsum mattis sapien. Donec a pharetra lectus. Aliquam feugiat, ligula quis dapibus blandit, ex odio faucibus velit, ac efficitur leo magna et mi. Duis nec enim purus. Mauris varius sem a lacus vulputate porta. Aenean malesuada, odio a elementum aliquet, turpis purus placerat purus, vel consectetur augue nisl quis quam.</p>
</div>

{% endblock %}
