{% extends "template.njk" %}

{% import "_pattern_macros/testcard.njk" as testcard %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <h1>Norfolk County Council Design Hub</h1>
  <p class="lead">Use this design system to create pages with consistent and uniform styling, and use components appropriately.</p>
  <hr>
</div>


<div class="container">
  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
  <p>Standard paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus vehicula ligula nec finibus. Donec a elit dolor. Quisque ultricies felis at ligula mollis, quis mattis lacus efficitur. In aliquet in arcu ac gravida. Nam leo velit, mattis in faucibus id, faucibus sed velit. Aenean ut augue quam. Vestibulum commodo lacinia nibh non sagittis. Proin consectetur, nibh et porta molestie, velit velit porttitor lacus, a mollis tortor elit eu tellus. Quisque tristique ultrices sem vel placerat. Maecenas lobortis, felis quis faucibus fermentum, magna neque egestas urna, eget vestibulum lectus ipsum mattis sapien. Donec a pharetra lectus. Aliquam feugiat, ligula quis dapibus blandit, ex odio faucibus velit, ac efficitur leo magna et mi. Duis nec enim purus. Mauris varius sem a lacus vulputate porta.</p>
  <h2 class="mt-5">There will be 3 ways ways to get set up.</h2>
  <p>Clone the repository of an existing site, fork the starter template to start a new site, or start a new site from scratch (advanced).</p>
</div>

{% endblock %}
