{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Home" %}

{% block main %}

<section class="section_stage_theme">
  <div class="container">
    <h1>Norfolk County Council Design System</h1>
    <p class="lead col-12 col-lg-6">Use this design system to make your service consistent with Norfolk.gov. Learn from the research and experience of other service teams and avoid repeating work that's already been done. ioasjd</p>
  </div>
</section>

<section class="section_light_theme">
  <div class="container">
    <h2>What do you want to do?</h2>
    <div class="row {{rowDefaults}}">
      <div class="col-12 col-sm-6 col-lg-4">
        {{ generalcard.generalcard('Contribute to an existing project', '', '', '', '', 'Clone the repository and set up a development environment', '', '#', 'card-light') }}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {{ generalcard.generalcard('Start a new project', '', '', '', '', 'Use the starter template to start up a new site', '', '#', 'card-light') }}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {{ generalcard.generalcard('Learn how to set up a project from scratch', '', '', 'Advanced', '', 'Follow the instructions on setting up Eleventy, Node.js, and Git', '', '#', 'card-light') }}
      </div>
    </div>

    {% set linkwords = [
      {word:'GOV.UK', link:'https://design-system.service.gov.uk'}
    ] %}

    {% set linkedText0 = 'Make your service look like <a href="'+linkwords[0].link+'">' + linkwords[0].word + '</a> with guides for applying layout, typography, colour and images.' %}

    <h2>Interaction and design</h2>
    <div class="row {{rowDefaults}}">
      <div class="col-12 col-sm-6 col-lg-4">
        {{ navcard.navcard('Styles', '#', linkedText0, '', '') }}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {# Me and Martin have decided that this is the way: #}
        {{ navcard.navcard('Components', 'components', 'Save time with reusable, accessible <a href="components">components</a> for forms, navigation, panels, tables and more.', '', '') }}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {{ navcard.navcard('Patterns', '#', 'Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.', '', '') }}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {{ navcard.navcard('Page templates', '#', 'Make your service look like GOV.UK with guides for applying layout, typography, colour and images.', '', '') }}
      </div>
    </div>

    <h2>Content and media creation</h2>
    <div class="row {{rowDefaults}}">
      <div class="col-12 col-sm-6 col-lg-4">
        {{ navcard.navcard('Content', '#', 'Make your service look like GOV.UK with guides for applying layout, typography, colour and images.', '', '') }}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {{ navcard.navcard('Media creation', '#', 'Make your service look like GOV.UK with guides for applying layout, typography, colour and images.', '', '') }}
      </div>
    </div>

    <div class="row {{rowDefaults}}">
      <hr>
      <h2>Support</h2>
      <div class="col-12 col-lg-8">
        <p>The GOV.UK Design System is maintained by a team at the <a href="https://design-system.service.gov.uk">Government Digital Service</a>. If you've got a question, idea or suggestion you can contact the team.</p>
        <p>See blog posts, video talks, and podcasts about the GOV.UK Design System and Prototype Kit.</p>
      </div>
    </div>
    
  </div>
</section>

{% endblock %}
