{% extends "documentation.njk" %}

{% import "_pattern_macros/docs_accordion.njk" as docsaccordion %}
{% import "_pattern_macros/breadcrumb.njk" as breadcrumbmacro %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = 'Structure and Columns' %}

{% block breadcrumb %}
  {{ breadcrumbmacro.breadcrumb(page.url, title) }}
{% endblock %}

{% block componentdesc %}

<div class="components-list-section col-lg-4 col-12">
  {{ docsaccordion.docsaccordion(page.url) }}
</div>

<div class="components-main-section col-12 col-lg-8 mb-5"> 
  <h1>Structure & columns</h1>
  <p class="lead">Our system is based on a 12 grid system from <a href="https://getbootstrap.com/docs/5.0/layout/columns/">Bootstrap</a></p>
  <h2 class="h3">Section full width</h2>
  <p>These are sections which spread from edge to edge of the screen. We can then place columns in them as we please.</p>
  <p>There are options for these elements to give them a banding effect allowing the page to be appealing visually as well as breaking the content into digestible chunks.</p>
  <p>Colour options are:</p>
  <ul>
    <li>Normal</li>
    <li>Light grey</li>
    <li>Dark grey</li>
    <li>Custom background image</li>
  </ul>
  <h2 class="h3">Columns</h2>
  <p>The 12 grid system is a way to size and group columns for a custom layout.</p>
  <h3 class="h5">1 Column (10) - #1</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-10 example-column">Column 10</div>
    </div>
  </div>
  <p>A wide column stretching 10 columns of the full 12. To be placed inside 'section' components.</p>
  <h3 class="h5">1 Column (12) - #2</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-12 example-column">Column 12</div>
    </div>
  </div>
  <p>A single full width column.</p>
  <h3 class="h5">2 Column (8-4) - #3</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-4 example-column">Column 4</div>
      <div class="col-8 example-column">Column 8</div>
    </div>
  </div>
  <p>A two column structure with the left column taking up two-thirds of space and a sidebar taking up one-third of space. Used as default for page templates.</p>
  <p>Good for:</p>
  <ul>
    <li>Page content on the left with a small image on the right</li>
    <li>Page content on the left with a widget on the right</li>
  </ul>
  <h3 class="h5">2 Column (4-8) - #4</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-8 example-column">Column 8</div>
      <div class="col-4 example-column">Column 4</div>
    </div>
  </div>
  <p>A two column structure with the left column taking up one-third of space and a larger column taking up two-thirds of space.</p>
  <p>Good for:</p>
  <ul>
    <li>Page content on the right with a small image on the left</li>
    <li>Page content on the right with a widget on the left</li>
  </ul>
  <h3 class="h5">2 Column (6-6) - #5</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-6 example-column">Column 6</div>
      <div class="col-6 example-column">Column 6</div>
    </div>
  </div>
  <p>A two column structure with equal width for both columns.</p>
  <p>Good for:</p>
  <ul>
    <li>An image on one side with content on the other</li>
    <li>A video on one side with content on the other</li>
    <li>Two prominent general cards</li>
  </ul>
  <h3 class="h5">3 Column (4-4-4) - #6</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-4 example-column">Column 4</div>
      <div class="col-4 example-column">Column 4</div>
      <div class="col-4 example-column">Column 4</div>
    </div>
  </div>
  <p>A three column structure with each column taking up one-third of available space.</p>
  <p>Good for:</p>
  <ul>
    <li>Three general cards</li>
  </ul>
  <h3 class="h5">4 Column (3-3-3-3) - #7</h3>
  <div class="container example-container p-4">
    <div class="row justify-content-center example-row">
      <div class="col-3 example-column">Column 3</div>
      <div class="col-3 example-column">Column 3</div>
      <div class="col-3 example-column">Column 3</div>
      <div class="col-3 example-column">Column 3</div>
    </div>
  </div>
  <p>A four column structure with each column taking up one-fourth of available space.</p>
  <p>Good for:</p>
  <ul>
    <li>Four general cards</li>
  </ul>
    
  <div class="row {{rowDefaults}}">
    <div class="col-12">
      <h2>When to use this component</h2>
      <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
    </div>
        
        
    <div class="col-12">
      <h2>When not to use this component</h2>
      <p>Below are three examples of cards - they are the same component, but with different options enabled.</p>
    </div>
    
    {{ content | safe }}
        
    <div id="components-help-section" class="col-12">
      <h2>Need help?</h2>
      <ul>
        <li>Take part in the 'Breadcrumbs' discussion on GitHub and share your research</li>
        <li>Propose a change - read more about how to propose changes in GitHub</li>
      </ul>
    </div>
  </div>
</div>



{% endblock %}
